@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #cbd5e1;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* div {
  border: 1px solid red;
} */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38bdf8;
  height: 100px;
}

.header > .title {
  font-size: 50px;
}

.setup {
  background-color: white;
  border-radius: 10px;
  margin: 30px 0 30px 0;
  width: 700px;
  padding: 30px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.setup > .title {
  font-size: 30px;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.player {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}

.setting > input,
.setting > select {
  height: 40px;
  width: 100%;
}

button.start {
  margin-top: 20px;
  width: 200px;
  height: 80px;
  border-radius: 30px;
  background-color: lightgreen;
  font-size: large;
  font-family: "Roboto", sans-serif;
}

button.start:hover {
  background-color: greenyellow;
}

.game {
  display: none;
  justify-content: center;
  background-color: white;
  align-self: center;
  margin-top: 30px;
  width: 700px;
  border-radius: 10px;
}

.game > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-text {
  margin: 20px 0;
  font-size: 24px;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.gameboard {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(7, 1fr);
  background-color: darkblue;
  border-radius: 10px;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid blue;
  border-radius: 25px;
}

.cell:hover {
  width: 60px;
  height: 60px;
  border: 3px solid lightgreen;
}

.gameover {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.gameover button {
  height: 50px;
  width: 120px;
}
