@import url("reset.css");

body {
  background-color: lightgray;
}

div {
  border: 1px solid red;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  height: 100px;
}

.header > .title {
  font-size: 50px;
}

.setup {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.setup > .title {
  font-size: 30px;
}

.player {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.setting {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.setting > input {
  width: 100%;
}

button.start {
  width: 100px;
}

.game {
  display: none;
}

.gameboard {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  border: 1px solid blue;
  background-color: black;
}
